# These owners will be automatically requested for review
# when someone opens a pull request.
#
# Global rule:
*       @mastwet

# Specific rules for different parts of the codebase:
# src/laputa/        @team-member1 @team-member2
# tests/             @team-member3
# docs/              @team-member4
# .github/           @team-member5